{% extends "base.html" %}
{% import 'layout.html' as layout with context -%}

{% block page_body %}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    
                    
                </section>
            </aside>
            <aside class="right-side">
                <section class="content" style="padding-bottom: 100px;">
                    {% block messages %}
                    {{ layout.messages() }}
                    {% endblock %}


                    {% block body %}
                    <div class="row">
                        <div class="col-md-12">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    {% endblock %}
                </section>
            </aside>
        </div>
{% endblock %}


